* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f5deb3;
}
.titulo {
    font-size: 4rem;
}
.ovo {
    width: 45vw;
    margin-top: 1rem;
}
.receitaInicio {
    margin-top: 1rem;
    font-size: 3rem;
}
.lista1 {
    font-size: 1.5rem;
    margin-left: 1.5rem;
}
.receita {
    margin-top: 1rem;
    font-size: 3rem;
}
.lista2 {
    font-size: 1.5rem;
    margin-left: 1.5rem;
}
.final {
    margin-top: 1rem;
    font-size: 2rem;
}



@media (min-width: 201px) and (max-width: 500px){
    .ovo {
        width: 75vw;
    }
}